@model MvcKnockoutCalendar.Models.TaskDay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TaskDay</legend>

    <div class="display-label">Day</div>
    <div class="display-field">@String.Format("{0:g}", Model.Day)</div>

    <div class="display-label">Tasks</div>
    <div class="display-field">@(Model.Tasks == null ? "None" : Model.Tasks.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


