.appointment {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(153, 188, 235, 0.51)), to(rgba(153, 188, 235, 0.51)));
    background-image: -webkit-linear-gradient(top, rgba(0, 133, 204, 0.65), rgba(0, 71, 204, 0.87));
    background-image: -moz-linear-gradient(top, rgba(0, 133, 204, 0.65), rgba(0, 71, 204, 0.87));
    background-image: -ms-linear-gradient(top, rgba(0, 133, 204, 0.65), rgba(0, 71, 204, 0.87));
    background-image: -o-linear-gradient(top, rgba(0, 133, 204, 0.65), rgba(0, 71, 204, 0.87));
    border-radius: 3px 3px;
    padding-left: 5px;
    font-size: x-small;
    color: white;
}
